<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage members</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <script src="js/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    </head>
    <body>
        <%- include('navbar.ejs') %>
        
        <div class="container">
            <h2>จัดการสมาชิก</h2>
            <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>   
            <input type="text" id="searchInput" class="form-control mb-3" placeholder="🔍 ค้นหาสินค้า...">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ชื่อสมาชิก</th>
                        <th>Email</th>
                        <th>เบอร์โทร</th>
                        <th>ลบ</th>
                        <th>แก้ไข</th>
                    </tr>
                </thead>

                <tbody id="memberTable">
                    <% Object.values(members).forEach(function(item){ %>
                    <tr>
                        <td class="name" style="white-space: nowrap;"><%= item.name %></td>
                        <td class="email" style="white-space: nowrap;"><%= item.email %></td>
                        <td class="phone" style="white-space: nowrap;"><%= item.phone %></td>

                        <td><a class="btn btn-danger" href="/member/delete/<%= item._id %>" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่')">ลบ</a></td>

                        <td>
                            <form action="/memberEdit" method="POST">
                                <input type="hidden" value="<%= item._id %>" name="id">
                                <button type="submit" class="btn btn-primary">แก้ไข</button>
                            </form>
                        </td>

                    </tr>
                    <% }) %>                    
                </tbody>

            </table>

            <script>
                document.getElementById("searchInput").addEventListener("keyup", function () {
                    let filter = this.value.toLowerCase();
                    let rows = document.querySelectorAll("#memberTable tr");

                    rows.forEach(row => {
                        let name = row.querySelector(".name").textContent.toLowerCase();
                        let email = row.querySelector(".email").textContent.toLowerCase();
                        let phone = row.querySelector(".phone").textContent.toLowerCase();

                        if (name.includes(filter) || price.includes(filter) || description.includes(filter)) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    });
                });
            </script>
        </div>
    </body>
</html>
